/* general settngs */
body{
    font-family: "Jost", sans-serif;
    font-size: 24px;
    font-weight: 400;
}
body, h1, h2, h3, p, ul, li, a{
    margin: 0px;
    padding: 0px;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.container{
    margin: 0 auto;
    width: 1120px;
}

/* header */

.header{
    background-color: #ddf9ff;
    padding: 32px 0px;
}
.header-container{
    display: flex;
    align-items: center;
    gap: 193px;
}
.header-logo{
    width: 210px;
    height: 52px;
}
.header-nav{
    display: flex;
    gap: 64px;
}
.nav-item{
    font-weight: 700;
}
.nav-link{
    color: #3a2e2e;
}
.nav-link:hover{
    border-bottom: 3px solid #3a2e2e;
    transition-duration: .1s;
}

/* banner */

.banner{
    background-color: #ddf9ff;
    padding-bottom: 48px;
}
.banner-container{
    display: flex;
    align-items: center;
    gap: 57px;
}
.banner-subtitle{
    color: #6278b4;
    font-weight: 600;
    margin-bottom: 16px;
}
.banner-title{
    font-weight: 700;
    font-size: 48px;
    color: #3a2e2e;
    margin-bottom: 16px;
}
.banner-text{
    font-weight: 500;
    font-size: 20px;
    color: #3a2e2e;
    margin-bottom: 32px;
}
.banner-btn{
    cursor: pointer;
    border: none;
    border-radius: 30px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
    background-color: #6278b4;
    color: #fff;
    font-size: 20px;
    font-weight: 900;
    padding: 16px 21px;
}

/* services */

.service {
    background-color: #FBFCFF;
    padding-top: 24px;
    padding-bottom: 52px;
}

.service-container {
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

.service-title {
    font-weight: 600;
    font-size: 48px;
    color: #3a2e2e;
    text-align: center;
    border-bottom: 5px solid #6278b4;
    width: 351px;
    margin: 0px auto 50px;
    padding-bottom: 18px;
}

.service-span-title {
    color: #6278b4;
}

.service-list {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
}

.service-item {
    display: flex;
    flex-direction: row;
    width: 300px;
}

.service-item-img {
    width: 49px;
    height: 49px;
    margin-right: 15px;
}

.service-item-title {
    font-weight: 400;
    font-size: 24px;
    color: #3a2e2e;
    margin-bottom: 25px;
    width: 259px;
}

.service-item-text {
    width: 250px;
    font-size: 14px;
    color: #3a2e2e;

}

.item-span {
    color: #6278b4;
    font-weight: 500;
}

/* work */

.work{
    background-color: #ddf9ff;
    padding: 32px 0px;
}
.work-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 130px;
}
.work-title{
    color: #6278b4;
    font-weight: 900;
    font-size: 48px;
    width: 358px;
    margin-bottom: 28px;
}
.work-text{
    color: #3a2e2e; 
    font-weight: 500;
    font-size: 20px;
    width: 294px;
}

/* doctor */

.doctor{
    background-color: #FBFCFF;
    padding-top: 32px;
    padding-bottom: 64px;
}
.doctor-container{  
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.doctor-list{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
}
.doctor-item{
    margin: 0 auto;
    justify-content: center ;
}
.doctor-title {
    font-weight: 600;
    font-size: 48px;
    color: #3a2e2e;
    text-align: center;
    border-bottom: 5px solid #6278b4;
    width: 351px;
    margin: 0px auto 50px;
    padding-bottom: 18px;
}
.doctor-span-title {
    color: #6278b4;
}
.doctor-item-title{
    color: #3a2e2e;
    font-weight: 600;
    font-size: 32px;
    border-top: 4px solid #3a2e2e;
    margin-top: 32px;
    margin-left: 65px;   
    width: 224px;
}

/* footer */

.footer{
    background-color: #535353;
    padding-top: 32px;
    padding-bottom: 72px;
}
.footer-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.footer-logo-container{
    display: flex;
    margin-bottom: 28px;
}
.footer-logo{
    margin-right: 900px;
}
.contact-wrap{
    width: 1120px;
    display: flex;
    flex-direction: column;
    border-top: 3px solid #6278b4;
}
.contact-title{
    color: #fff;
    font-weight: 500;
    margin-top: 32px;
}
.contact-list{
    display: flex;
    gap: 200px;
    margin-top: 32px;
}
.contact-item{
    display: flex;
    gap: 22px;
}
.contact-item-img{
    width: 32px;
    height: 32px;
}
.contact-item-link{
    width: 169px;
}
.contact-item-address{
    width: 250px;
    font-style: unset;
}
.contact-item-link, .contact-item-address{
    color: #fff;
    font-size: 20px;
}
.contact-item-link:hover{
    font-weight: 500;
}